@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgba(26, 26, 26, .7);
    font-family: 'Nunito', 'Lora', serif;
    font-size: 16px;
}

header {
    color: white;
    display: flex;
    background-image: url("images/hero.jpg");
    background-size: cover;
    height: 600px;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*header::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*}*/
.bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: .875em;
    padding: 10px 26px;
    background-color: rgba(124, 124, 124, 0.9);
}

.logo img {
    max-width: 6em;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    display: block;
    margin: 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.links a:hover {
    color: lightcoral;
}

.button {
    padding: 10px 15px;
    border: 2px white;
    border-radius: 100px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(97, 193, 238, 0.53);
    color: rgb(255, 255, 255);
}

.links a, .button, strong, em, h1{
    text-transform: uppercase;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

em {
    font-size: .500em
}

strong {
    font-size: 1.2em;
    letter-spacing: 3px;
}

h1 a {
    color: lightcoral;
    font-size: .500em;
}

section {
    margin: 50px auto;
}
section .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 40px 20px;
}
.main p {
    letter-spacing: 2px;
    margin: 10px;
}
.rows {
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 100px;

}
.row div{
    flex-basis: 45%;
    flex-grow: 1;
    padding: 20px;
}
.row img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}
h1, p, address{
    text-align: center;
}
section div.rows p{
    margin: 10px;
}
section div.rows h1{
    color: rgba(152, 36, 229, 0.44);
}

/*section contact*/
section .contact{
    margin: 100px;
}
.contact .row{
    justify-content: space-between;
    align-items: center;
}
.contact .row .col{
    padding: 0 10px;
    width: calc(100% - 50px);
}
.contact .col i{
    margin: 10px 0;
}
.col from textarea{
    /*display: block;*/
    height: 45px;
    width: 100%;
}





