@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: "Dosis", sans-serif;
    font-style: normal;
}

.main {
    border: 2px solid lightcoral;
    height: 800px;
    width: 800px;
    margin: auto;
}
.layout{
    display: grid;
    grid-template-rows: 100px 400px;
    margin: 20px;
    justify-items: center;
}
label{
    font-size: 20px;
}
.total{
    height: 40px;
    width: 250px;
    margin: 20px;
}
.input-text{
    font-size: 22px;
}